html {
  background: linear-gradient(to bottom, #4678f3, #64d6ee);
  height: 100%;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
header,
footer,
#cursorFrame {
  background-color: rgba(255, 255, 255, 0.8);
  width: 96vw;
  margin-top: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 5px;
  font-size: large;
}
#cursorFrame {
  display: flex;
  justify-content: space-evenly;
}
#ex6 {
  width: 50%;
}
h6 {
  text-align: center;
  font-size: medium;
  margin: 1vh;
}
p {
  margin: 5vh;
}
#book {
  background-color: rgba(255, 255, 255, 0.8);
  width: 96vw;
  height: 67vh;
  margin-top: 2vh;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.center {
  text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(124, 124, 124);
  border-radius: 5px;
}
